{
    "realm": "my realm",
    "acl": [
        { "path": "/somepath", "valid_users": ["user1"] },
        { "path": "/" }
    ],
    "users": [
        { "name": "user1" }
    ],
    "hashes": {
        "user1": "$apr1$bQNMwVWD$SjIZ6tGGv2BfcQSYq5MfZ.",
    }
}
